
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  
<br>

<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <h4>TOURIST DATA</h4>
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Place</th>
            <th>NO OF DAYS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.age}}</td>
            <td>{{user.fromPlace}}</td>
            <td>{{user.noOfDays}}</td>
          </tr>
    </tbody>
    </table>
    </div>
</div>